/* Reference */
.references-wrapper {
    background: $color-seventh;
    padding: 45px 0;
}

.references-list { 
    .item {
        .people-avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            border:4px solid #fff;
        }
        .text {
            width: calc(100% - 150px);
            span {
                display: block;
                padding-left: 75px;
                position: relative;
                text-align: justify;
            }

            i {
                font-size: 80px;
                font-family: Port Lligat Sans;
                position: absolute;
                line-height: 1;
                font-style: inherit;
                margin-left: 7px;
                &.first {
                    left: 25px;
                    top: -24px;
                }
            }
        }
    }
}

.references-carousel {
    padding: 0 125px;
    position: relative;
    margin-top: 25px;
}

.references-button-add {
    text-align: center;
    margin-top: 17px;
}

.copy-right-wrapper {
    background: #0C0C5E;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
/* ------ */