/* Skill */
.skill-wrapper {
    background: $color-fourth;
    padding: 45px 0 17px;
    .title {
        margin-bottom: 20px;
        .sub {
            margin-top:20px;
        }
    }
}

.skill-personal-wrapper {
    .title-top-line {
        &:before {
            width: 41px;
        }
    }
    
    .title-under-line {
        &:after {
            width: 136px;
        }
    }
}

.progress-circle-wrapper {
    width: 33.33%;
    text-align: center;
    margin-bottom: 25px;
}

.skill-button-add {
    text-align: right;
    .btn {
        margin-bottom: 20px;
    }
}

.progress-circle-name, 
.progress-bar-name {
    font-weight: 500;
    text-transform: uppercase; 
    margin-top: 5px;
}

.skill-progress-bar {
    padding: 0 30px;
}

.progress-bar-name {
    margin-bottom: 11px;
}

.progress-bar-wrapper {
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
    }
}
/* ------ */