/* Work Experience & Education */
.work-education-wrapper {
    background: $color-fifth;
    padding: 45px 0;
    .title-top-line:before, 
    .title-under-line:after {
        background: #fff;
    }
}

.work-education-wrapper{
    .title-top-line {
        &:before {
            width: 41px;
        }
    }
    
    .title-under-line {
        &:after {
            width: 75px;
        }
    }
    .title {
        .sub {
            margin-top: 10px;
        }
    }
}

.work-education-case {
    padding: 0 35px;
    margin-top: 25px;
    .box {
        border-left: 1px solid #fff;
        padding-left: 50px;
        padding-bottom: 15px;
        position: relative;
        &:before {
            content: "";
            width: 15px;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 0;
            left: -7.5px;
        }
    }

    .item {
        border: 1px solid #fff;
        position: relative;
        padding: 10px;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            border-top: 1px dashed #fff;
            position: absolute;
            left: -50px;
            top: calc(50% - 0.5px);
        }

        &:after {
            content:"";
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left:6px solid #fff;
            position: absolute;
            top: calc(50%  - 6px);
            left: -51px;
        }

        .title {
            position: relative;
            font-weight: 600;
            margin-bottom: 4px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            &:after {
                content: "";
                width: 88px;
                height: 1px;
                background: #fff;
                position: absolute;
                left:2px;
                bottom:-1px;
                letter-spacing: 0.05em;
            }
        }
    }

    .work-education-button-add {
        text-align: right;
        margin-top: 10px;
    }
}
/* ----- */