.progress-bar-wrapper .progress-bar {
    background: #fff;
    border-radius: 3px;
    width: 100%;
    height: 7px;
    position: relative;
}

.progress-bar span {
    position: absolute;
    top: -33px;
}

.progress-bar span::after {
    content:"%";
}

.progress-bar:after {
    -webkit-animation: widthload 2s;
    animation: widthload 2s;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 3px;
    background: #f64d70;
}

.progress-bar.progress-1:after {
    width: 1%;
}
.progress-bar.progress-1 span {
    left: calc(1% - 14px);
}

.progress-bar.progress-2:after {
    width: 2%;
}
.progress-bar.progress-2 span {
    left: calc(2% - 14px);
}

.progress-bar.progress-3:after {
    width: 3%;
}
.progress-bar.progress-3 span {
    left: calc(3% - 14px);
}

.progress-bar.progress-4:after {
    width: 4%;
}
.progress-bar.progress-4 span {
    left: calc(4% - 14px);
}

.progress-bar.progress-5:after {
    width: 5%;
}
.progress-bar.progress-5 span {
    left: calc(5% - 14px);
}

.progress-bar.progress-6:after {
    width: 6%;
}
.progress-bar.progress-6 span {
    left: calc(6% - 14px);
}

.progress-bar.progress-7:after {
    width: 7%;
}
.progress-bar.progress-7 span {
    left: calc(7% - 14px);
}

.progress-bar.progress-8:after {
    width: 8%;
}
.progress-bar.progress-8 span {
    left: calc(8% - 14px);
}

.progress-bar.progress-9:after {
    width: 9%;
}
.progress-bar.progress-9 span {
    left: calc(9% - 14px);
}

.progress-bar.progress-10:after {
    width: 10%;
}
.progress-bar.progress-10 span {
    left: calc(10% - 14px);
}

.progress-bar.progress-11:after {
    width: 11%;
}
.progress-bar.progress-11 span {
    left: calc(11% - 14px);
}

.progress-bar.progress-12:after {
    width: 12%;
}
.progress-bar.progress-12 span {
    left: calc(12% - 14px);
}

.progress-bar.progress-13:after {
    width: 13%;
}
.progress-bar.progress-13 span {
    left: calc(13% - 14px);
}

.progress-bar.progress-14:after {
    width: 14%;
}
.progress-bar.progress-14 span {
    left: calc(14% - 14px);
}

.progress-bar.progress-15:after {
    width: 15%;
}
.progress-bar.progress-15 span {
    left: calc(15% - 14px);
}

.progress-bar.progress-16:after {
    width: 16%;
}
.progress-bar.progress-16 span {
    left: calc(16% - 14px);
}

.progress-bar.progress-17:after {
    width: 17%;
}
.progress-bar.progress-17 span {
    left: calc(17% - 14px);
}

.progress-bar.progress-18:after {
    width: 18%;
}
.progress-bar.progress-18 span {
    left: calc(18% - 14px);
}

.progress-bar.progress-19:after {
    width: 19%;
}
.progress-bar.progress-19 span {
    left: calc(19% - 14px);
}

.progress-bar.progress-20:after {
    width: 20%;
}
.progress-bar.progress-20 span {
    left: calc(20% - 14px);
}

.progress-bar.progress-21:after {
    width: 21%;
}
.progress-bar.progress-21 span {
    left: calc(21% - 14px);
}

.progress-bar.progress-22:after {
    width: 22%;
}
.progress-bar.progress-22 span {
    left: calc(22% - 14px);
}

.progress-bar.progress-23:after {
    width: 23%;
}
.progress-bar.progress-23 span {
    left: calc(23% - 14px);
}

.progress-bar.progress-24:after {
    width: 24%;
}
.progress-bar.progress-24 span {
    left: calc(24% - 14px);
}

.progress-bar.progress-25:after {
    width: 25%;
}
.progress-bar.progress-25 span {
    left: calc(25% - 14px);
}

.progress-bar.progress-26:after {
    width: 26%;
}
.progress-bar.progress-26 span {
    left: calc(26% - 14px);
}

.progress-bar.progress-27:after {
    width: 27%;
}
.progress-bar.progress-27 span {
    left: calc(27% - 14px);
}

.progress-bar.progress-28:after {
    width: 28%;
}
.progress-bar.progress-28 span {
    left: calc(28% - 14px);
}

.progress-bar.progress-29:after {
    width: 29%;
}
.progress-bar.progress-29 span {
    left: calc(29% - 14px);
}

.progress-bar.progress-30:after {
    width: 30%;
}
.progress-bar.progress-30 span {
    left: calc(30% - 14px);
}

.progress-bar.progress-31:after {
    width: 31%;
}
.progress-bar.progress-31 span {
    left: calc(31% - 14px);
}

.progress-bar.progress-32:after {
    width: 32%;
}
.progress-bar.progress-32 span {
    left: calc(32% - 14px);
}

.progress-bar.progress-33:after {
    width: 33%;
}
.progress-bar.progress-33 span {
    left: calc(33% - 14px);
}

.progress-bar.progress-34:after {
    width: 34%;
}
.progress-bar.progress-34 span {
    left: calc(34% - 14px);
}

.progress-bar.progress-35:after {
    width: 35%;
}
.progress-bar.progress-35 span {
    left: calc(35% - 14px);
}

.progress-bar.progress-36:after {
    width: 36%;
}
.progress-bar.progress-36 span {
    left: calc(36% - 14px);
}

.progress-bar.progress-37:after {
    width: 37%;
}
.progress-bar.progress-37 span {
    left: calc(37% - 14px);
}

.progress-bar.progress-38:after {
    width: 38%;
}
.progress-bar.progress-38 span {
    left: calc(38% - 14px);
}

.progress-bar.progress-39:after {
    width: 39%;
}
.progress-bar.progress-39 span {
    left: calc(39% - 14px);
}

.progress-bar.progress-40:after {
    width: 40%;
}
.progress-bar.progress-40 span {
    left: calc(40% - 14px);
}

.progress-bar.progress-41:after {
    width: 41%;
}
.progress-bar.progress-41 span {
    left: calc(41% - 14px);
}

.progress-bar.progress-42:after {
    width: 42%;
}
.progress-bar.progress-42 span {
    left: calc(42% - 14px);
}

.progress-bar.progress-43:after {
    width: 43%;
}
.progress-bar.progress-43 span {
    left: calc(43% - 14px);
}

.progress-bar.progress-44:after {
    width: 44%;
}
.progress-bar.progress-44 span {
    left: calc(44% - 14px);
}

.progress-bar.progress-45:after {
    width: 45%;
}
.progress-bar.progress-45 span {
    left: calc(45% - 14px);
}

.progress-bar.progress-46:after {
    width: 46%;
}
.progress-bar.progress-46 span {
    left: calc(46% - 14px);
}

.progress-bar.progress-47:after {
    width: 47%;
}
.progress-bar.progress-47 span {
    left: calc(47% - 14px);
}

.progress-bar.progress-48:after {
    width: 48%;
}
.progress-bar.progress-48 span {
    left: calc(48% - 14px);
}

.progress-bar.progress-49:after {
    width: 49%;
}
.progress-bar.progress-49 span {
    left: calc(49% - 14px);
}

.progress-bar.progress-50:after {
    width: 50%;
}
.progress-bar.progress-50 span {
    left: calc(50% - 14px);
}

.progress-bar.progress-51:after {
    width: 51%;
}
.progress-bar.progress-51 span {
    left: calc(51% - 14px);
}

.progress-bar.progress-52:after {
    width: 52%;
}
.progress-bar.progress-52 span {
    left: calc(52% - 14px);
}

.progress-bar.progress-53:after {
    width: 53%;
}
.progress-bar.progress-53 span {
    left: calc(53% - 14px);
}

.progress-bar.progress-54:after {
    width: 54%;
}
.progress-bar.progress-54 span {
    left: calc(54% - 14px);
}

.progress-bar.progress-55:after {
    width: 55%;
}
.progress-bar.progress-55 span {
    left: calc(55% - 14px);
}

.progress-bar.progress-56:after {
    width: 56%;
}
.progress-bar.progress-56 span {
    left: calc(56% - 14px);
}

.progress-bar.progress-57:after {
    width: 57%;
}
.progress-bar.progress-57 span {
    left: calc(57% - 14px);
}

.progress-bar.progress-58:after {
    width: 58%;
}
.progress-bar.progress-58 span {
    left: calc(58% - 14px);
}

.progress-bar.progress-59:after {
    width: 59%;
}
.progress-bar.progress-59 span {
    left: calc(59% - 14px);
}

.progress-bar.progress-60:after {
    width: 60%;
}
.progress-bar.progress-60 span {
    left: calc(60% - 14px);
}

.progress-bar.progress-61:after {
    width: 61%;
}
.progress-bar.progress-61 span {
    left: calc(61% - 14px);
}

.progress-bar.progress-62:after {
    width: 62%;
}
.progress-bar.progress-62 span {
    left: calc(62% - 14px);
}

.progress-bar.progress-63:after {
    width: 63%;
}
.progress-bar.progress-63 span {
    left: calc(63% - 14px);
}

.progress-bar.progress-64:after {
    width: 64%;
}
.progress-bar.progress-64 span {
    left: calc(64% - 14px);
}

.progress-bar.progress-65:after {
    width: 65%;
}
.progress-bar.progress-65 span {
    left: calc(65% - 14px);
}

.progress-bar.progress-66:after {
    width: 66%;
}
.progress-bar.progress-66 span {
    left: calc(66% - 14px);
}

.progress-bar.progress-67:after {
    width: 67%;
}
.progress-bar.progress-67 span {
    left: calc(67% - 14px);
}

.progress-bar.progress-68:after {
    width: 68%;
}
.progress-bar.progress-68 span {
    left: calc(68% - 14px);
}

.progress-bar.progress-69:after {
    width: 69%;
}
.progress-bar.progress-69 span {
    left: calc(69% - 14px);
}

.progress-bar.progress-70:after {
    width: 70%;
}
.progress-bar.progress-70 span {
    left: calc(70% - 14px);
}

.progress-bar.progress-71:after {
    width: 71%;
}
.progress-bar.progress-71 span {
    left: calc(71% - 14px);
}

.progress-bar.progress-72:after {
    width: 72%;
}
.progress-bar.progress-72 span {
    left: calc(20% - 14px);
}

.progress-bar.progress-73:after {
    width: 73%;
}
.progress-bar.progress-73 span {
    left: calc(73% - 14px);
}

.progress-bar.progress-74:after {
    width: 74%;
}
.progress-bar.progress-74 span {
    left: calc(74% - 14px);
}

.progress-bar.progress-75:after {
    width: 75%;
}
.progress-bar.progress-75 span {
    left: calc(75% - 14px);
}

.progress-bar.progress-76:after {
    width: 76%;
}
.progress-bar.progress-76 span {
    left: calc(76% - 14px);
}

.progress-bar.progress-77:after {
    width: 77%;
}
.progress-bar.progress-77 span {
    left: calc(77% - 14px);
}

.progress-bar.progress-78:after {
    width: 78%;
}
.progress-bar.progress-78 span {
    left: calc(78% - 14px);
}

.progress-bar.progress-79:after {
    width: 79%;
}
.progress-bar.progress-79 span {
    left: calc(79% - 14px);
}

.progress-bar.progress-80:after {
    width: 80%;
}
.progress-bar.progress-80 span {
    left: calc(80% - 14px);
}

.progress-bar.progress-81:after {
    width: 81%;
}
.progress-bar.progress-81 span {
    left: calc(81% - 14px);
}

.progress-bar.progress-82:after {
    width: 82%;
}
.progress-bar.progress-82 span {
    left: calc(82% - 14px);
}

.progress-bar.progress-83:after {
    width: 83%;
}
.progress-bar.progress-83 span {
    left: calc(83% - 14px);
}

.progress-bar.progress-84:after {
    width: 84%;
}
.progress-bar.progress-84 span {
    left: calc(84% - 14px);
}

.progress-bar.progress-85:after {
    width: 85%;
}
.progress-bar.progress-85 span {
    left: calc(85% - 14px);
}

.progress-bar.progress-86:after {
    width: 86%;
}
.progress-bar.progress-86 span {
    left: calc(86% - 14px);
}

.progress-bar.progress-87:after {
    width: 87%;
}
.progress-bar.progress-87 span {
    left: calc(87% - 14px);
}

.progress-bar.progress-88:after {
    width: 88%;
}
.progress-bar.progress-88 span {
    left: calc(88% - 14px);
}

.progress-bar.progress-89:after {
    width: 89%;
}
.progress-bar.progress-89 span {
    left: calc(89% - 14px);
}

.progress-bar.progress-90:after {
    width: 90%;
}
.progress-bar.progress-90 span {
    left: calc(90% - 14px);
}

.progress-bar.progress-91:after {
    width: 91%;
}
.progress-bar.progress-91 span {
    left: calc(91% - 14px);
}

.progress-bar.progress-92:after {
    width: 92%;
}
.progress-bar.progress-92 span {
    left: calc(92% - 14px);
}

.progress-bar.progress-93:after {
    width: 93%;
}
.progress-bar.progress-93 span {
    left: calc(93% - 14px);
}

.progress-bar.progress-94:after {
    width: 94%;
}
.progress-bar.progress-94 span {
    left: calc(94% - 14px);
}

.progress-bar.progress-95:after {
    width: 95%;
}
.progress-bar.progress-95 span {
    left: calc(95% - 14px);
}

.progress-bar.progress-96:after {
    width: 96%;
}
.progress-bar.progress-96 span {
    left: calc(96% - 14px);
}

.progress-bar.progress-97:after {
    width: 97%;
}
.progress-bar.progress-97 span {
    left: calc(97% - 14px);
}

.progress-bar.progress-98:after {
    width: 98%;
}
.progress-bar.progress-98 span {
    left: calc(98% - 14px);
}

.progress-bar.progress-99:after {
    width: 99%;
}
.progress-bar.progress-99 span {
    left: calc(99% - 14px);
}

.progress-bar.progress-100:after {
    width: 100%;
}
.progress-bar.progress-100 span {
    left: calc(100% - 14px);
}
@-webkit-keyframes widthload {
    0% {
        opacity: 0;
        width: 0; }
    100% {
        opacity: 1;
    } 
}
