/* Core Style */
.main-site {
  width: 1440px;
  margin: 0 auto; }
  .main-site .container-fluid {
    padding-left: 0;
    padding-right: 0; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400; }

h1,
h2,
h3,
h4 {
  font-weight: 700;
  padding: 5px 0;
  margin: 0 0 5px 0;
  letter-spacing: 0.05em;
  line-height: 1.2; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 14px; }

.btn i {
  margin-left: 5px; }

.btn-active {
  border: 1px solid #f64d70; }
  .btn-active:hover {
    background: #f64d70;
    color: #fff; }

.btn-primary {
  border: 1px solid #fff;
  background: transparent; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.title-under-line,
.title-top-line {
  position: relative;
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;
  padding: 11px 0; }

.title-top-line::before,
.title-under-line:after {
  content: "";
  background: #f64d70;
  position: absolute;
  height: 2px; }

.title-top-line::before {
  width: 70px;
  right: 0;
  top: 0; }

.title-under-line:after {
  width: 197px;
  left: 2px;
  bottom: 0; }

img {
  display: inherit;
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    color: #fff; }

/* Sumary Profile */
.summary-info {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.summary-info h2 {
  margin: 0;
  padding: 10px 0; }

.summary-info .title-under-line:after {
  width: 236px; }

.summary-position {
  font-size: 20px; }

.info-avatar {
  overflow: hidden; }

.avatar-update {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  background: rgba(58, 57, 57, 0.8);
  position: absolute; }

.info-avatar .avatar-update {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  bottom: -60px;
  right: -60px; }
  .info-avatar .avatar-update i {
    top: 28px;
    position: absolute;
    left: 30px; }

/* Info Profile */
.info-profile {
  background: #242581; }
  .info-profile .languages {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 0; }
    .info-profile .languages li {
      padding: 0 17px; }
      .info-profile .languages li:first-child {
        padding-left: 0; }
      .info-profile .languages li:last-child {
        padding-right: 0; }
      .info-profile .languages li a {
        color: #fff; }
        .info-profile .languages li a:hover {
          text-decoration: underline; }
      .info-profile .languages li.active a {
        font-weight: 600;
        text-decoration: underline; }
  .info-profile .small-avatar {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    overflow: hidden;
    margin: 16px auto 15px; }
    .info-profile .small-avatar .avatar-update {
      width: 100%;
      height: 33px;
      line-height: 26px;
      text-align: center;
      bottom: -5px;
      left: 0; }
  .info-profile .personal-info {
    padding: 0 114px; }
    .info-profile .personal-info .head {
      text-align: center;
      border-bottom: 2px solid #f64d70;
      padding-bottom: 12px;
      margin-bottom: 10px; }
      .info-profile .personal-info .head h4 {
        margin: 0;
        padding-bottom: 0; }
    .info-profile .personal-info .detail-row {
      padding: 5px 0;
      margin-bottom: 9px; }
      .info-profile .personal-info .detail-row:last-child {
        margin-bottom: 0; }
      .info-profile .personal-info .detail-row .label {
        width: 84px;
        margin: 0;
        padding: 0; }
      .info-profile .personal-info .detail-row .text {
        width: calc(100% - 84px);
        padding-left: 20px;
        line-height: 1.2; }
  .info-profile .edit-button {
    text-align: center;
    margin-top: 22px; }

/*  ------  */
/* Professional Summary  */
.profession-summary-wrapper {
  background: #2026B2;
  padding: 45px 0 45px; }
  .profession-summary-wrapper .title {
    margin-bottom: 23px; }
  .profession-summary-wrapper .summary-button-edit {
    text-align: right;
    padding-right: 35px;
    margin-top: 13px; }

/* ------ */
/* Skill */
.skill-wrapper {
  background: #4A0F73;
  padding: 45px 0 17px; }
  .skill-wrapper .title {
    margin-bottom: 20px; }
    .skill-wrapper .title .sub {
      margin-top: 20px; }

.skill-personal-wrapper .title-top-line:before {
  width: 41px; }

.skill-personal-wrapper .title-under-line:after {
  width: 136px; }

.progress-circle-wrapper {
  width: 33.33%;
  text-align: center;
  margin-bottom: 25px; }

.skill-button-add {
  text-align: right; }
  .skill-button-add .btn {
    margin-bottom: 20px; }

.progress-circle-name,
.progress-bar-name {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px; }

.skill-progress-bar {
  padding: 0 30px; }

.progress-bar-name {
  margin-bottom: 11px; }

.progress-bar-wrapper {
  margin-bottom: 25px; }
  .progress-bar-wrapper:last-child {
    margin-bottom: 0; }

/* ------ */
/* Work Experience & Education */
.work-education-wrapper {
  background: #F64C71;
  padding: 45px 0; }
  .work-education-wrapper .title-top-line:before,
  .work-education-wrapper .title-under-line:after {
    background: #fff; }

.work-education-wrapper .title-top-line:before {
  width: 41px; }

.work-education-wrapper .title-under-line:after {
  width: 75px; }

.work-education-wrapper .title .sub {
  margin-top: 10px; }

.work-education-case {
  padding: 0 35px;
  margin-top: 25px; }
  .work-education-case .box {
    border-left: 1px solid #fff;
    padding-left: 50px;
    padding-bottom: 15px;
    position: relative; }
    .work-education-case .box:before {
      content: "";
      width: 15px;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      left: -7.5px; }
  .work-education-case .item {
    border: 1px solid #fff;
    position: relative;
    padding: 10px;
    margin-bottom: 20px; }
    .work-education-case .item:last-child {
      margin-bottom: 0; }
    .work-education-case .item::before {
      content: "";
      width: 50px;
      height: 1px;
      border-top: 1px dashed #fff;
      position: absolute;
      left: -50px;
      top: calc(50% - 0.5px); }
    .work-education-case .item:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #fff;
      position: absolute;
      top: calc(50%  - 6px);
      left: -51px; }
    .work-education-case .item .title {
      position: relative;
      font-weight: 600;
      margin-bottom: 4px;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
      .work-education-case .item .title:after {
        content: "";
        width: 88px;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 2px;
        bottom: -1px;
        letter-spacing: 0.05em; }
  .work-education-case .work-education-button-add {
    text-align: right;
    margin-top: 10px; }

/* ----- */
/* Portolio */
.portfolio-wrapper {
  background: #563D67;
  padding: 45px 0; }

.portfolio-wrapper .title-top-line::before,
.portfolio-wrapper .title-top-line::before,
.references-wrapper .title-top-line::before,
.references-wrapper .title-top-line::before {
  width: 41px; }

.portfolio-wrapper .title-under-line::after,
.portfolio-wrapper .title-under-line::after,
.references-wrapper .title-under-line::after,
.references-wrapper .title-under-line::after {
  width: 72px; }

.portfolio-tags-list {
  padding: 0 35px;
  margin-top: 10px;
  margin-bottom: 20px; }
  .portfolio-tags-list li {
    padding: 0 14px; }
    .portfolio-tags-list li a {
      font-weight: 600;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.05em; }
      .portfolio-tags-list li a:hover {
        text-decoration: underline; }
    .portfolio-tags-list li.active a {
      text-decoration: underline; }
    .portfolio-tags-list li:first-child {
      padding-left: 0; }
    .portfolio-tags-list li:last-child {
      padding-right: 0; }

.portfolio-projects .col-first,
.portfolio-projects .col-second,
.portfolio-projects .col-third,
.portfolio-projects .col-fourth {
  width: 25%; }

.portfolio-projects-button-add {
  min-height: 200px; }

.portfolio-projects-mb {
  display: none !important; }

/* ------ */
/* Reference */
.references-wrapper {
  background: #2F2FA1;
  padding: 45px 0; }

.references-list .item .people-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff; }

.references-list .item .text {
  width: calc(100% - 150px); }
  .references-list .item .text span {
    display: block;
    padding-left: 75px;
    position: relative;
    text-align: justify; }
  .references-list .item .text i {
    font-size: 80px;
    font-family: Port Lligat Sans;
    position: absolute;
    line-height: 1;
    font-style: inherit;
    margin-left: 7px; }
    .references-list .item .text i.first {
      left: 25px;
      top: -24px; }

.references-carousel {
  padding: 0 125px;
  position: relative;
  margin-top: 25px; }

.references-button-add {
  text-align: center;
  margin-top: 17px; }

.copy-right-wrapper {
  background: #0C0C5E;
  text-align: center;
  height: 50px;
  line-height: 50px; }

/* ------ */
/* Copyright */
.copy-right-wrapper {
  background: #0C0C5E;
  text-align: center;
  height: 50px;
  line-height: 50px; }

/* -- Responsive -- */
/* Container */
@media (max-width: 1439px) {
  .main-site {
    max-width: 100%; } }

/* -- Section -- */
@media (max-width: 1300px) {
  /* Summary Profile */
  .info-profile .small-avatar {
    width: 148px;
    height: 148px; }
  .info-avatar img {
    max-width: unset; } }

@media (max-width: 991px) {
  /* Summary Profile */
  .info-profile .personal-info {
    padding: 0 50px; }
  .summary-info h2 {
    font-size: 30px; }
  .summary-info .title-under-line::after {
    width: 170px; }
  /* Skills */
  .skill-personal-wrapper {
    padding-top: 35px; }
  /* Education & Experience */
  .work-education-wrapper .row > div:last-child {
    margin-top: 35px; }
  /* Reference */
  .references-carousel {
    padding: 0; } }

@media (max-width: 860px) {
  /* References */
  .references-list .item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .references-carousel .owl-stage-outer {
    padding-bottom: 15px; }
  .references-list .item .text {
    width: 100%; }
    .references-list .item .text i.first {
      left: -10px; }
    .references-list .item .text span {
      padding-left: 35px;
      padding-right: 35px; }
  .owl-theme .owl-nav {
    top: 70px; } }

@media (max-width: 767px) {
  /* Summary Profile */
  .info-avatar {
    max-height: 280px;
    position: relative; }
    .info-avatar img {
      width: 100%;
      margin-top: -45px; }
    .info-avatar:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(51, 51, 51, 0.25);
      z-index: 1;
      height: 100%;
      width: 100%; }
  .summary-info {
    bottom: auto;
    top: 100px;
    z-index: 2; }
    .summary-info h2 {
      font-size: 20px; }
    .summary-info .title-under-line:after {
      width: 100px; }
  .summary-position {
    font-size: 16px; }
  .info-wrapper {
    position: relative; }
  .info-avatar .avatar-update {
    z-index: 2; }
  .info-profile {
    position: static;
    padding-bottom: 35px; }
    .info-profile .languages {
      position: absolute;
      top: 0;
      left: 0;
      margin: 5px 0;
      z-index: 2; }
    .info-profile .small-avatar {
      margin-top: -75px;
      z-index: 2; }
  /* Portfolio*/
  .portfolio-projects {
    display: none !important; }
  .portfolio-projects-mb {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .portfolio-projects-mb .col-first,
  .portfolio-projects-mb .col-second {
    width: 50%; }
  .portfolio-projects-button-add {
    min-height: 109px; }
  .portfolio-wrapper .title-top-line:before,
  .references-wrapper .title-top-line:before {
    width: 30px; }
  .portfolio-wrapper .title-under-line:after,
  .references-wrapper .title-under-line:after {
    width: 55px; } }

@media (max-width: 400px) {
  h3 {
    font-size: 16px; }
  .title-under-line, .title-top-line {
    padding: 7px 0; }
  .title-top-line::before {
    width: 50px; }
  .title-under-line::after {
    width: 127px; }
  /* Summary Info */
  .info-avatar {
    max-height: 175px; }
  .summary-info {
    top: 57px; }
  .summary-info h2 {
    font-size: 16px; }
  .summary-position {
    font-size: 14px; }
  .info-profile .small-avatar {
    margin-top: -50px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px; }
  .info-profile .personal-info {
    padding: 0 15px; }
    .info-profile .personal-info .head {
      margin-bottom: 5px; }
  .info-avatar .avatar-update {
    width: 110px;
    height: 110px;
    bottom: -65px;
    right: -65px; }
    .info-avatar .avatar-update i {
      top: 23px;
      left: 25px;
      font-size: 12px; }
  .info-profile .small-avatar .avatar-update {
    width: 100px;
    font-size: 10px;
    line-height: 23px; }
  /* Professional Summary */
  .profession-summary-wrapper {
    padding: 35px 0; }
    .profession-summary-wrapper .title {
      margin-bottom: 5px; }
    .profession-summary-wrapper .summary-button-edit {
      text-align: center;
      padding-right: 0;
      margin-top: 18px; }
  /* Skill */
  .skill-title {
    margin-bottom: 12px; }
    .skill-title .sub {
      margin-top: 5px; }
  .skill-progress-circle {
    padding: 0 20px; }
  .progress-circle-wrapper {
    width: 50%;
    margin-bottom: 20px; }
  .skill-button-add {
    width: 100%;
    margin-bottom: 0; }
    .skill-button-add .btn {
      margin-bottom: 0; }
  .skill-personal-wrapper .title-under-line:after {
    width: 89px; }
  .skill-progress-bar {
    padding: 0; }
  .skill-wrapper {
    padding: 35px 0; }
  /* Education & Experience */
  .work-education-wrapper {
    padding: 35px 0; }
    .work-education-wrapper .title .sub {
      margin-top: 8px; }
  .work-education-case {
    padding: 0 0 0 10px;
    margin-top: 10px; }
    .work-education-case .box {
      padding-left: 30px; }
    .work-education-case .item::after {
      left: -31px; }
    .work-education-case .item::before {
      width: 30px;
      left: -30px; }
  .work-education-button-add {
    text-align: center; }
  /* Portfolio */
  .portfolio-wrapper {
    padding: 35px 0; }
  .portfolio-tags-list {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0; }
  /* References */
  .references-wrapper {
    padding: 35px 0; }
  .references-list .item .text {
    margin-top: 10px; }
    .references-list .item .text i {
      font-size: 60px; }
      .references-list .item .text i.first {
        left: -9px;
        top: -15px; }
    .references-list .item .text span {
      padding-left: 27px;
      padding-right: 0; }
  .references-wrapper .owl-theme .owl-dots {
    margin-top: -10px; }
  .references-button-add {
    margin-top: 12px; } }

/* ------ */
